div#result-container {
    padding: 10px;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    border: 1px solid;
}

div#result-container {
    border-image: linear-gradient(21deg, #f92054 38%, rgb(0, 222, 255) 65%) 1 / 1 / 0 stretch;
}

h2#result {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Robboto' !important;
}
body {
    background: #0a1116;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 150px 0px !important;
}
h2#question {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Robboto' !important;
    color: #fff;
}

button {
    border: 1px solid;
    background: transparent;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 15px;
    border-image: linear-gradient(21deg, #f92054 38%, rgb(0, 222, 255) 65%) 1 / 1 / 0 stretch;
    font-family: 'Robboto' !important;
}

button#submit {
    margin: 20px 0px;
    width: 15%;
    font-weight: 700;
}
button:hover {
    border-color: #f92054 !important;
    border-image: unset !important;
}



div#result-container:hover {
        border-color: #f92054 !important;
    border-image: unset !important;
}